/* The html and body elements cannot have any padding or margin. */
html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  /*background-color: #fff;*/
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  /* margin: 0 auto -75px; */
  /* Pad bottom by footer height */
  /*padding: 0 0 75px; */
}

/* FOR WHEN WE MAKE A FOOTER
/* Set the fixed height of the footer here */
/*#footer {
  height: 75px;
  border-top: 1px black solid;
  padding-top: 10px;
  background-color: #ddd;
}*/